@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    box-sizing: border-box;
}

html{
    /* font-size: 16px; ES ASI POR DEFECTO*/ 
}

header p{
    background-color: #1CD1B0;
    
    padding: 10px;
}

header div{
    display: flex;
    background-color: #00669F;
    align-items: center;
    padding: 10px;
}
 header div img{
     height: 70px;
}

header div h1{
     color: white;
     font-weight: normal;
}

header nav ul{
    display: flex;
    list-style-type: none;
    background-color: #001D2D;
    justify-content: flex-end;
}

header nav ul li{
    margin:10px;
    color:white;
}
.cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tarjeta {
width: 300px;
background-color: #f3f3f3;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-top-left-radius: 4%;
border-top-right-radius: 4%;
position:relative;
margin:25px;
padding-bottom: 20px;
}

.imagen{
    position: relative;
}
.imagen img{
    width:100%;
}
.imagen span{
    color: red;
    font-size: 2.5rem;
    display: block;
    position:absolute;
    top:15px;
    left:15px;

}

.informacion{ 
    text-align: center;
    position:relative;
    
}


.informacion h2{
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    font-weight: normal;
    padding:10px;
    padding-top: 65px;
}

.informacion p{

    font-size: 1rem;
    padding: 20px;
    text-align: left;
    }

.informacion button{
    height: 49px;
    width: 129px;
    font-size: 1.2rem;
    color:white;
    background-color: #00669F;
    border: none;
    left: 70px;
}


.logo{
    position: absolute;
    width:110px;
    border-radius: 50%;
    left:calc(50% - 55px);
    top:-55px;
}

.mas{
    
    background-color: #00669F;
    font-size: 3rem;
    
    padding: 55px 68px;
    border-radius: 50%;
    position: absolute;
    left:89%;
    top:60%;
}
.mas a{
    color:white;
    text-decoration: none;
}


footer{
    background-color: #00669F;
    color:white;
    padding: 30px;
    text-align: center;
}

input{
    border-radius: 10%;
}

.form{
    border-radius: 50px;
    background-color: #00669F;
    color:white;
    width: 70%;
    text-align: center;
    margin:30px 15%;
    padding: 20px 80px;
}

.form h1{
    padding: 15px;
    font-size: 2.8rem;
}

.form h3{
    padding: 15px;
    font-size: 1.2rem;
    font-weight: normal;
}

.cols{
    display: flex;
}
.col1, .col2{
    
    
    font-size: 0.8rem;
    text-align: left;
    width: 50%;
    margin: 20px;
    
}

.labPpal{
    font-size: 1.1rem;
}

.col2 ul {
    list-style-type: none;
}
.col2 label{
    display: inline;
}

label, input{
    margin:5px;
    padding:10px;
}

input[type=text], input[type=date], form textarea{
    border-style: none;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    width: 100%;
}

form button{
    margin:5px;
    padding:10px;
    background-color: #1CD1B0;
    padding: 30px;
    text-align: center;
    font-size: 1.2rem; 
    width: 466px;
    border-radius: 10px;
    border-style: none;
}

@media (max-width: 1400px){
    
    .tarjeta{
        width: 35%;

    }
}

@media (max-width: 780px){
    
    .tarjeta{
        width: 35%;
    }

    .informacion h2{
        font-size: 1.8rem;
        
    }

    .informacion p{
        font-size: 0.8rem;
    }
}

@media (max-width: 500px){
    
    .tarjeta{
        width: 60%;
                    
        }
    
        .informacion p{
            font-size: 0.7rem;
        }

        .informacion h2{
            font-size: 1.6rem;
}